/* Carousel CSS */
.movie-carousel-container {
  /* width: 100vw; */
  background-color: black;
}

.movie-poster {
  height: 300px;
  border: 1px solid gold;
  border-radius: 10px;
  overflow: hidden;
}

.movie-poster > img {
  height: 100%;
  width: 100%;
}

.movie-card-container {
  height: 550px;
  background-color: black;
}

.movie-card {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.movie-details {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.movie-title {
  color: white;
  display: flex;
  align-items: center;
}

/* Play Button CSS*/

.movie-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.play-button-icon-container {
  padding: 0;
  margin: 0;
  width: 150px;
}

.play-button-icon {
  padding: 0;
  margin: 0;
  color: gold;
  font-size: 3rem;
  transition: 0.3s;
  cursor: pointer;
}

.play-button-icon:hover {
  font-size: 3.5rem;
  color: darkgoldenrod;
}

/* Media Query */

@media only screen and (max-width: 800px) {
  .movie-details {
    flex-direction: column;
    align-items: center;
    top: 20px;
  }

  .movie-title {
    margin: 20px 0;
  }
}
