@import '../../../styleVariables/colours.scss';

.reviewcard-main-container {
  position: relative !important;
  background: rgba(1, 22, 39, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.reviewcard-cancel {
  position: absolute !important;
  top: 5 !important;
  right: 5 !important;
}

.reviewcard-avatar {
  margin-right: 1rem;
  width: 46px;
  height: 46px;
}

.reviewcard-name-span {
  color: $primary;
}
